:root {
	--font: 'Poppins', sans-serif;
}
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
}

body {
	height: 100vh;
	background: url(img/ano-nuevo.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

h1 {
	font-family: var(--font);
	font-size: 5rem;
	color: snow;
	text-align: center;
}